body{
      background-color: aliceblue;
}
input{
  margin-left: 10px;
  margin-top: 13px;
}
#title{
    color: rgb(66, 170, 218);
    margin-left: 40%;
}
#hello{
    background-color: aliceblue;
}

#allTitles{
    display: block;
    margin-left: 30px;
    background-color: lightgoldenrodyellow;
    margin-right: 30px;
}

#myAnimatedImage{
    margin-left: 35%;
    margin-top: 20px;
}
#authorName{
  position: fixed;
  bottom: 0;
  width:98%;
  text-align: right;
  color: lightpink;
}
#source{
  position: fixed;
  bottom: 0;
  width:98%;
  margin-left: 10px;
}